* {
    border: 1px solid red;
}

body {
    margin: 0 10% 0;
}

.navigation {
    width: 100%;
}

header h1 {
    display: inline-block;
    width: 49%;
    font-size: 80px;
    text-align: center;
}

header img {
    display: inline-block;
}

.button-start {
    display: inline-block;
    width: 20%;
    margin: 0 25% 0;
}