*{
    max-width:100%;
    /* border: 1px solid red; */
  }

body {
    width: 85%;
    margin: 0 auto;
    line-height: 1.2;
}

p {
    font-family: 'Courgette', cursive;
}

/** Navigation bar**/

nav {
    margin-bottom: 5%;
}

.nav-bar{
	width: 100%;
    margin: 2% auto;
    display: inline-block;
}

.nav-bar a{
	display: inline-block;
	width: 12%;
	margin: 0 auto;
	text-decoration: none;
	color: #708090;
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

.nav-bar a:hover {
    background-color: #4d4dff;
    transition: 0.5s;
    color: aqua;
}

@keyframes scale-up-box {
    0% {
        transform: scaleY(0.4);
        transform-origin: 0% 100%;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
    }
}

.nav-bar .logo {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

/** slogan area **/

header {
    width: 100%;
    margin: 2% 0;
    display: inline-box;
}

header .slogan-container {
    display: inline-block;
    width: 49%;
    font-size: 80px;
    text-align: center;
}


header h1 {
    margin: 0;
}
header img {
    display: inline-block;
    width: 48%;
    height: 100%;
}

.button-start {
    width: 37%;
    border: 1px solid black;
	padding: 5px 7%;
    text-align: center;
    color: black;
    background-color: white;
    font-size: 18px;
    vertical-align: top;
    margin-top: 5%;
}

/** STRETCH GOAL BUTTON HOVER**/
button:hover{
	transition-duration: 1s;
	background-color: black;
	color: white;
}

/** Content area 1 **/

.top-content {
    display: inline-block;
    width: 100%;
    margin: 3% 1.5%;
}

.top-content div {
    display: inline-block;
    width: 49%;
}


/**image breaker **/

.middle-img {
    width: 100%;
}

/** Content area 2 **/

.bottom-content {
    display: inline-block;
    width: 100%;
    margin: 3% 1.5%;
}

.bottom-content div {
    display: inline-block;
    width: 32.5%;
}

.bottom-content {
    
}

address {
    margin-bottom: 2%;
}

.copyright {
    text-align: center;
}


/*TRBL*/
/*TB RL*/
/*T RL B*/
/* T R B L*/